<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Wigs
</div>

<%= link_to 'Add a new wig', new_wig_path %>


<div class="card-trip">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg">
  <div class="card-trip-infos">
    <div>
      <h2>Title here</h2>
      <p>Short description here!</p>
      <p>color, size, style, name</p>
    </div>
    <h2 class="card-trip-pricing">99.99€/dia</h2>
    <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
  </div>
</div>


<ul>
<% @wigs.each do |wig| %>
  <li>
    <%= link_to wig_path(wig) do %>
      <%= wig.name %>
    <% end %>
  </li>
<% end %>
</ul>

