<div class="container">
  <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
    <h2>Book a wig</h2>

    <%= simple_form_for :search, method: "get" do |f| %>
      <%= f.input :start_date, input_html: { id: "range_start" } %>
      <%= f.button :submit, "Book now!", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
