.card-category {
  background-image: url(image-path('banner.jpg'));
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EAAFDA;
  font-family: 'Charmonman', cursive;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
