a {
  color: #652157;
  &:hover {
    text-decoration: none;
    color: #49163D;
  }
}

.card {
  width: 300px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 20px;
  transition: 0.3s;
  &:hover {
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
    -5px -5px 30px 15px rgba(0,0,0,0.22);
    transition: 0.3s;
  }
}

.card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card h2 {
  font-family: 'Charmonman', cursive;
  font-size: 16px;
  font-weight: bold !important;
  margin: 0;
}

.card p {
  font-size: 15px;
  font-weight: bolder;
  opacity: .7;
  margin: 0;
}


.card .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  background-color: #F4F4F4;
}

// .card-infos .card-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }
